<mat-error *ngIf="disable==true">
  please first read and agree the T&C
</mat-error>

<form [formGroup]="loanForm">



  <mat-form-field appearance="outline">
    <mat-label>Enter the amount</mat-label>
    <input matInput type="text" [disabled]="disable" placeholder="Amount" formControlName="amount">
    <mat-error *ngIf="loanForm.get('amount')?.hasError('required')">Amount can't be empty</mat-error>
    <mat-error *ngIf="loanForm.get('amount')?.hasError('minlength')">Amount should be over ₹1000</mat-error>
    <mat-error *ngIf="loanForm.get('amount')?.hasError('pattern')">Amount must be a number</mat-error>
    <mat-error *ngIf="loanForm.get('amount')?.hasError('invalidAmount')">Amount must be within ₹1000 - ₹200000</mat-error>

  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Choose a loan duration</mat-label>
    <mat-select formControlName="terms" [disabled]="disable">
      <mat-option value="3">3 months (16%/month)</mat-option>
      <mat-option value="6">6 months (17%/month)</mat-option>
      <mat-option value="12">12 months (19%/month)</mat-option>
      <mat-option value="24">24 months (20%/month)</mat-option>
    </mat-select>
    <mat-error *ngIf="loanForm.get('terms')?.hasError('required')">Loan duration can't be empty</mat-error>
  </mat-form-field>

  <div class="summary-container">
    <p class="summary-header">Summary</p>
    <div class="loan-amount-container">
      <p class="loan-amount-header">Loan Amount : </p>
      <p class="loan-amount">₹ {{loanForm.get("amount")?.value || 0}}</p>
    </div>
    <div class="interest-rate-container">
      <p class="loan-amount-header">Interest rate : </p>
      <p class="loan-amount">{{interestRates[loanForm.get("terms")?.value || 0]}} %</p>
    </div>
    <mat-divider></mat-divider>
    <div class="total-amount-container">
      <p class="loan-amount-header">Total Amount : </p>
      <p class="loan-amount">₹ {{totalAmount}}</p>
    </div>

  </div>

  <mat-checkbox formControlName="termsAndConditions" [disabled]="disable">
    <div class="btn" (click)="click()">
      <span>Read and Agree the T&C</span>


    </div>
  </mat-checkbox>
  <mat-error *ngIf="!loanForm.get('termsAndConditions')?.valid && loanForm.get('termsAndConditions')?.touched ">You
    can't apply the loan without agreeing to the T&C</mat-error>
  <div class="button-container" style="display: flex; gap: 20px;">
    <button type="button" mat-raised-button color="warn" (click)="closeDialog()">Cancel</button>
    <button type="submit" mat-raised-button color="primary" [disabled]="!loanForm.valid" (click)="applyLoan()">Apply</button>
  </div>

</form>
