

 
<mat-card class="container">
  <mat-icon class="btn" (click)="toggleDisabled()" color="primary">
    edit
      </mat-icon> 
      <h1 style="margin-left: -13px;">Lender Details</h1>
      <mat-card-content>
<form #lenderForm="ngForm" (submit)="lenderupdate(lenderForm)" class="example-form" >
   
   



      <table class="example-full-width" cellspacing="11px"><tr>
        <td>
            <tr><strong>First Name</strong></tr>
           <mat-form-field appearance="outline" class="example-full-width">
          
               
                <input  matInput type="text" [(ngModel)]="lender.firstName" name="firstname" #first="ngModel" minlength="5" placeholder="enter first name"  [disabled]="disabled" required>
                <mat-error *ngIf="first.invalid && (first.dirty || first.touched)">
                    <mat-error *ngIf="first?.errors?.['minlength']">
                     first name should 5 character
                    </mat-error>
                </mat-error>
              </mat-form-field>
        </td>
        <td>
          <tr><strong>Last name</strong></tr>
            <mat-form-field appearance="outline" class="example-full-width" >
             
                <input  matInput type="text" [(ngModel)]="lender.lastName" name="lastname" #last="ngModel" minlength="5" [disabled]="disabled" required placeholder="enter last name">
                <mat-error *ngIf="last.invalid && (last.dirty || last.touched)">
                    <mat-error *ngIf="last?.errors?.['minlength']">
                   last name should 5 character
                    </mat-error>
                </mat-error>
              </mat-form-field>
        </td>
      </tr></table>


      <table class="example-full-width" cellspacing="11px"><tr>
        <td>
        <tr><strong>phone Number</strong></tr>
      <mat-form-field appearance="outline" class="example-full-width">
      
        <input  matInput type="text" [(ngModel)]="lender.phoneNumber" name="phonenh" #phn="ngModel" [disabled]="disabled" pattern="^[789]\d{9}" required placeholder="enter phone number">
        <mat-error *ngIf="phn.invalid && (phn.dirty || phn.touched)">
            <mat-error *ngIf="phn?.errors?.['pattern']">
         number should start with 789 and have ten digit
            </mat-error>
        </mat-error>
      
      </mat-form-field>
      </td></tr></table>
      <table class="example-full-width" cellspacing="11px"><tr>
        <td>
      <tr><strong>aadhar number</strong></tr>
      <mat-form-field  appearance="outline" class="example-full-width" >
        
        <input  matInput type="text" [(ngModel)]="lender.aadhaar" name="aadhar" #adhar="ngModel" [disabled]="disabled" minlength="5" required placeholder="enter aadhar number">
        <mat-error *ngIf="adhar.invalid && (adhar.dirty || adhar.touched)">
            <mat-error *ngIf="adhar?.errors?.['minlength']">
               aadhar number should have 5 digit character
            </mat-error>
        </mat-error>
      </mat-form-field>
      </td></tr></table>
      <table class="example-full-width" cellspacing="11px"><tr>
        <td>
      <tr><strong>pan number</strong></tr>
      <mat-form-field  appearance="outline" class="example-full-width">
    
        <input  matInput type="text" [(ngModel)]="lender.pan" name="pann" [disabled]="disabled" #pan="ngModel" minlength="5" required placeholder="enter pan card number">
        <mat-error *ngIf="pan.invalid && (pan.dirty || pan.touched)">
            <mat-error *ngIf="pan?.errors?.['minlength']">
          pan number should have 5 digit character
            </mat-error>
        </mat-error>
      </mat-form-field>

      </td></tr></table>
     <div> <button type="submit" class="example-full-width" style="margin-top: 37px;"  mat-raised-button color="primary"  [disabled]="lenderForm.invalid" [disabled]="disabled" >save</button></div>
    </form>
</mat-card-content>
</mat-card>




 
 <mat-card class="container1">

  <h1 style="margin-left: -13px;">Lender Address Details</h1>
    <mat-card-content>
<form #lenderaddressForm="ngForm" (submit)="lenderupdateaddress(lenderaddressForm)" class="example-form" >
  <table class="example-full-width1"><tr>
    <td>
        <tr><strong>Address</strong></tr>
  
  <mat-form-field appearance="outline" class="example-full-width" >
     
      <input  matInput type="text" [(ngModel)]="lenderaddress.address.address" name="adress"[disabled]="disablede" placeholder="enter address" >
     
    
    </mat-form-field>
    </td></tr></table>
    <table class="example-full-width1" ><tr>
      <td>
          <tr><strong>city</strong></tr>
    <mat-form-field appearance="outline" class="example-full-width">
     
      <input  matInput type="text" [(ngModel)]="lenderaddress.address.city" name="city" [disabled]="disablede" placeholder="enter city" >
    </mat-form-field></td></tr></table>
    <table class="example-full-width1" ><tr>
      <td>
          <tr><strong>pin</strong></tr>
    <mat-form-field appearance="outline" class="example-full-width">

      <input  matInput type="text" [(ngModel)]="lenderaddress.address.pin" name="pin" [disabled]="disablede" placeholder="enter pin" >
     
    
    </mat-form-field>
    </td></tr></table>
    <table class="example-full-width1" ><tr>
      <td>
          <tr><strong>state</strong></tr>
    <mat-form-field  appearance="outline" class="example-full-width">
      
      <input  matInput type="text" [(ngModel)]="lenderaddress.address.state" name="state" [disabled]="disablede" placeholder="enter state">
    </mat-form-field>
    </td></tr></table>
  
    <div> <button type="submit" class="example-full-width" style="margin-top: 37px;"  mat-raised-button color="primary"  (click)="toggleDisabled1()"  >edit</button></div>
  </form>
</mat-card-content>
</mat-card>






