.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
  margin-top:7px;


}


.example-full-width1 {
  width: 100%;



}



td {
  padding-right: 8px;
}
.btn{
  margin-left:-777px;

  padding: 15px 17px;
  background-color: #D9D9D9;
  text-align: center;
  height: max-content;
  width: max-content;
  border-radius: 50%;

}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
color: black !important;

}
::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick{
color: red!important;
opacity: 0.8!important;
}
::ng-deep .mat-form-field-invalid .mat-input-element, .mat-warn .mat-input-element {
caret-color: red!important;
}




.container{
  height: 977px;
  margin-top: 573px;
  border-radius: 32px;
  width: 100%;
  max-width: 500px;
  padding-left: 77px;
  border: 2px solid rgb(218, 217, 230);
  padding-right: 77px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}


.container1{
  height: 677px;

  border-radius: 32px;
  margin-bottom: 177px;
  width: 100%;
  max-width: 500px;
  padding-left: 77px;
  border: 2px solid rgb(218, 217, 230);
  padding-right: 77px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;

}

.container2{
  height: 577px;
  margin-top: 77px;
  border-radius: 32px;
  width: 100%;
  max-width: 500px;
  padding-left: 77px;
  border: 2px solid rgb(218, 217, 230);
  padding-right: 77px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;

}

.detail{
text-decoration: none;
border: 2px solid;
padding: 7px;
color: rgb(220, 228, 228);
background-color: rgb(98, 14, 176);
border-radius: 7px;
}

a:hover{
border-color:  rgb(39, 221, 22);

}

input::file-selector-button {
  font-weight: bold;
  color: rgb(103, 69, 176);

  padding: 0.5em;
  border: thin solid grey;
  border-radius: 3px;
}



.verify-button {
  margin-left: 10px;
}

.verification-message {
  margin-top: 10px;
  font-weight: bold;
}

.verified {
  color: green;
}

.not-verified {
  color: red;
}
.error-message.valid {
  color: green;
  font-weight: bold;
  font-size: 16px;
}

.error-message.invalid {
  color: red;
  font-weight: bold;
  font-size: 16px;
}

.mat-error {
  color: red;
  font-weight: bold;
  font-size: 16px;
}

.valid {
  color: green;
  font-weight: bold;
  font-size: 16px;
}

.invalid {
  color: red;
  font-weight: bold;
  font-size: 16px;
}
.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}

