<div class="apply-loan-container-scrollable">
<div class="contain">
  <div class="contents">
  <h3 class="take">
    Take control of your finances with our <br>
    innovative P2P lending platform, offering<br>
    competitive rates and personalized loan<br>
    options.
  </h3>

  <h3 class="earn">

    Earn upto 25%
    <br>
    <br>
    Start Investing at 10% min
  </h3>
  <button class="my-button" (click)="goto()">Join Now</button>

</div>
<div class="image">
  <img src="../../../assets/images/8852632_4005505.svg">
</div>
</div>
<div>
  <p class="weoffer">We offer the best plans for lenders and borrowers</p>
</div>
<div class="textbox">
  <div class="textbox1">
    <p class="phead">
      Loans Starting at <br>
      ₹1000
    </p>
    <br>
    <p>Empowering users to borrow
      <br>
      from as little as ₹1000
    </p>

  </div>
  <div class="textbox2">
    <p class="phead">
      Great return for <br>
      investors
    </p>
    <br>
    <p>Invest Smarter with our
      <br>
      guaranteed 10% interest rates
      <br>
      for lenders
    </p>

  </div>
  <div class="textbox3">
    <p class="phead">
      Flexible EMI <br>
      plans
    </p>
    <br>
    <p>Tailored EMI plans to fit your
      <br>
      needs: Flexibility at its best
    </p>

  </div>
</div>
<div class="active">
  <p class="one">
    100</p>
    <p class="two">
    Active Registered Users
  </p>
  <p class="three">
    5000000<br>
  </p>
  <p class="four">
    Money Invested in out Platform

  </p>
  <p class="five">
    120000<br>
  </p>
  <p class="six">
    Money Borrower only this Month

  </p>

</div>
<div>
  <h2 class="core">Core Values of Our Platform</h2>
</div>




<div class="samplebox">
  <div class="samplebox1">
    <p class="pehead">
      Zero joining fee
    </p>
    <br>
    <p>
      Opening an account on the <br>
      platform costs you nothing.
    </p>

  </div>
  <div class="samplebox2">
    <p class="pehead">
      No withdrawal fee
    </p>
    <br>
    <p>
      There is no charge for the <br>
      withdrawal of your funds.
    </p>

  </div>
  <div class="samplebox3">
    <p class="pehead">
      100% digital
    </p>
    <br>
    <p>
      Our platform is is a digital-first<br>
       platform
    </p>

  </div>
  <div class="samplebox4">
    <p class="pehead">
      0 agents involved
    </p>
    <br>
    <p>
      Opening an account on the<br>
      platform costs you nothing.
    </p>

  </div>
</div>


<div class="applytoloan">
  <h2 class="steps">
    Apply for loans in 4 steps
  </h2>
  <div class="numberone">
  <h1 class="numbers">
    1.
  </h1>
  <p class="datas">
    Sign up into our<br>
platform
  </p>
</div>
<div class="numbertwo">
  <h1 class="numbers">
    2.
  </h1>
  <p class="datas">
    Login using your<br>
    credentials
  </p>
</div>
<div class="numberthree">
  <h1 class="numbers">
    3.
  </h1>
  <p class="datas">
    Access your<br>
    dashboard
  </p>
</div>
<div class="numberfour">
  <h1 class="numbers">
    4.
  </h1>
  <p class="datas">
    Go to Loans tab<br>
    & Apply for loan
  </p>
</div>

</div>
<footer>
  <div class="footer-content">
    <div class="footer-section about">
      <h1 class="topic">Lending Lane</h1>
      <p class="weare">
        We are a financial technology company that offers

        innovative P2P lending solutions.
      </p>
      <img class="logo" src="https://img.icons8.com/ios/150/ffffff/litecoin.png">

      <div class="socials">
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
      </div>
    </div>
    <div class="footer-section links">
      <h2 class="quick">Quick Links</h2>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
    <div class="contact-form">
      <h2 class="contact">Contact Us</h2>
      <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <mat-label >Email</mat-label>
          <input matInput type="email" class="form-control" formControlName="email" placeholder="Enter your email">


        </div>
        <div class="form-group">
          <mat-label>Message</mat-label>
          <textarea matInput class="form-control" formControlName="message" placeholder="Enter your message"></textarea>


        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block" [disabled]="!contactForm.valid">Send</button>
        </div>
      </form>
    </div>





  </div>
  <div class="footer-bottom">
    &copy; Lending Lane | All rights reserved &#169; 2023 | Developed by @Ashutosh, @Saeesh &amp; @Naveen
  </div>
</footer>



</div>
