<div class="apply-loan-container-scrollable">
  <div class="contain">
    <div class="contents">
      <h1
        style="font-size: 60px; display: flex;flex-direction: column;gap: 25px; margin-bottom: 20px; font-family: 'Lato', sans-serif">
        <p>Good wealth</p>
        <p>management</p>
        <p style="color:orange;">Simplified</p></h1>
      <h3 class="take">
        Take control of your finances with our <br>
        innovative P2P lending platform, offering<br>
        competitive rates and personalized loan<br>
        options.
      </h3>

      <h3 class="earn" >

        Earn upto 25%
        <br>
        <br>
        Start Investing at 10% min
      </h3>
      <button class="my-button" routerLink="/signup">Join Now</button>

    </div>
    <div class="image">
      <img src="../../../assets/images/8852632_4005505.svg">
    </div>
  </div>
  <div>
    <p class="weoffer">We offer the best plans for lenders and borrowers</p>
  </div>
  <div class="textbox">
    <div class="textbox1">
      <p class="phead">
        Loans Starting at <br>
        ₹1000
      </p>
      <br>
      <p>Empowering users to borrow
        <br>
        from as little as ₹1000
      </p>

    </div>
    <div class="textbox2">
      <p class="phead">
        Great return for <br>
        investors
      </p>
      <br>
      <p>Invest Smarter with our
        <br>
        guaranteed 10% interest rates
        <br>
        for lenders
      </p>

    </div>
    <div class="textbox3">
      <p class="phead">
        Flexible EMI <br>
        plans
      </p>
      <br>
      <p>Tailored EMI plans to fit your
        <br>
        needs: Flexibility at its best
      </p>

    </div>
  </div>
  <div class="active">
    <div class="one">
      <p>
        {{totalUsers}}</p>
      <p>
        Active Registered Users
      </p>
    </div>
    <div class="two">
      <p>
        {{totalMoney}}
      </p>
      <p>
        Money Invested in out Platform
      </p>
    </div>
    <div class="three">
      <p>
        {{totalMoney}}<br>
      </p>
      <p>
        Money Borrower only this Month
      </p>
    </div>

  </div>
  <div>
    <h2 class="core">Core Values of Our Platform</h2>
  </div>


  <div class="samplebox">
    <div class="samplebox1">
      <p class="pehead">
        Zero joining fee
      </p>
      <br>
      <p>
        Opening an account on the <br>
        platform costs you nothing.
      </p>

    </div>
    <div class="samplebox2">
      <p class="pehead">
        No withdrawal fee
      </p>
      <br>
      <p>
        There is no charge for the <br>
        withdrawal of your funds.
      </p>

    </div>
    <div class="samplebox3">
      <p class="pehead">
        100% digital
      </p>
      <br>
      <p>
        Our platform is is a digital-first<br>
        platform
      </p>

    </div>
    <div class="samplebox4">
      <p class="pehead">
        0 agents involved
      </p>
      <br>
      <p>
        Opening an account on the<br>
        platform costs you nothing.
      </p>

    </div>
  </div>
  <carousel  [cellsToShow]="1" [height]="600" [autoplay]="true" >
    <div class="carousel-cell">
      <div class="testimony testimony-1">
        <img src="https://img.icons8.com/ios-filled/100/d1d1d1/quote-left.png"/>
        Lendinglane has been the other self I wanted in me, that takes<br> care of my finances
      </div>
      <img [src]="images[0].path">
    </div>
    <div class="carousel-cell">
      <div class="testimony testimony-1">
        <img src="https://img.icons8.com/ios-filled/100/d1d1d1/quote-left.png"/>
        Lendinglane has been the other self I wanted in me, that takes<br> care of my finances
      </div>
      <img [src]="images[1].path">
    </div>
  </carousel>

  <div class="applytoloan">
    <h2 class="steps">
      Apply for loans in 4 steps
    </h2>
    <div class="apply-loan">
      <div class="numberone">
        <h1 class="numbers">
          1.
        </h1>
        <p class="datas">
          Sign up into our<br>
          platform
        </p>
      </div>
      <div class="numbertwo">
        <h1 class="numbers">
          2.
        </h1>
        <p class="datas">
          Login using your<br>
          credentials
        </p>
      </div>
      <div class="numberthree">
        <h1 class="numbers">
          3.
        </h1>
        <p class="datas">
          Access your<br>
          dashboard
        </p>
      </div>
      <div class="numberfour">
        <h1 class="numbers">
          4.
        </h1>
        <p class="datas">
          Go to Loans tab<br>
          & Apply for loan
        </p>
      </div>
    </div>
  </div>
  <div class="home-faq">
    <div class="faq-header"><h1 class="faq-header-title">Frequently asked questions</h1></div>
    <div class="faq-container">
      <div class="faq-left">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>How soon can I start investing?</mat-expansion-panel-header>
            <p>We'll have you up and running immediately. As soon as you complete your registration, and we verify the details. You can start investing via Internet Banking/UPI ID/Auto Debit payment methods.</p>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>Why should I invest through LendingLane?</mat-expansion-panel-header>
            <p>Unbiased recommendations, a single view of your investments, investment tracking, timely alerts, easy investment process. There’s more, we have a great retention rate and we really are good people!</p>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>How does LendingLane earn money?</mat-expansion-panel-header>
            <p>Glad you asked. We earn a small fee by taking a small commission from each loan</p>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <div class="faq-right">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>Can I invest in funds other than the ones LendingLane recommends?</mat-expansion-panel-header>
            <p>Unfortunately, no but you can always reset your recommendation criteria and that will allow you to find other loans</p>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>What are the risks associated with investing in LendingLane?</mat-expansion-panel-header>
            <p>Investing in P2P loans carries risks, including the risk of borrower defaults. But we recommend trusted and verified borrowers</p>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>What happens in case of a dispute between borrowers and lenders?</mat-expansion-panel-header>
            <p>In case of a dispute between borrowers and lenders on our P2P lending platform, we may act as an intermediary and work towards resolving the dispute. This may involve facilitating communication between the parties and finding a mutually agreeable solution.</p>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </div>
  <footer>
    <div class="footer-content">
      <div class="footer-section about">
        <h1 class="topic">Lending Lane</h1>
        <p class="weare">
          We are a financial technology company that offers

          innovative P2P lending solutions.
        </p>
        <img class="logo" src="https://img.icons8.com/ios/150/ffffff/litecoin.png">

        <div class="socials">
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
        </div>
      </div>
      <div class="footer-section links">
        <h2 class="quick">Quick Links</h2>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
      <div class="contact-form">
        <h2 class="contact">Contact Us</h2>
        <form (ngSubmit)="onSubmit()" [formGroup]="contactForm">
          <div class="form-group">
            <mat-label>Name</mat-label>
            <input class="form-control" formControlName="name" matInput placeholder="Enter your Name" type="text">


          </div>
          <div class="form-group">
            <mat-label>Email</mat-label>
            <input class="form-control" formControlName="email" matInput placeholder="Enter your email" type="email">


          </div>

          <div class="form-group">
            <mat-label>Phone</mat-label>
            <input class="form-control" formControlName="phone" matInput placeholder="Enter your PhoneNumber " type="text">


          </div>

          <div class="form-group">
            <mat-label>Message</mat-label>
            <input class="form-control" formControlName="message" matInput
                      placeholder="Enter your message">


          </div>



          <div class="form-group">
            <button [disabled]="!contactForm.valid" class="btn btn-primary btn-block" type="submit">Send</button>
          </div>
        </form>
      </div>


    </div>
    <div class="footer-bottom">
      &copy; Lending Lane | All rights reserved &#169; 2023 | Developed by @Ashutosh, @Saeesh &amp; @Naveen
    </div>
  </footer>


</div>
