.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
   

  
  }


  .example-full-width1 {
    width: 100%;


  
  }



  td {
    padding-right: 8px;
  }
.btn{
    margin-left:-777px;
    
    padding: 15px 17px;
    background-color: #D9D9D9;
    text-align: center;
    height: max-content;
    width: max-content;
    border-radius: 50%;
    
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: black !important;

}
::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick{
  color: red!important;
  opacity: 0.8!important;
}
::ng-deep .mat-form-field-invalid .mat-input-element, .mat-warn .mat-input-element {
  caret-color: red!important;
}






  .container1{
    height: 577px;
    margin-top:313px ;
    border-radius: 32px;
    width: 100%;
    max-width: 500px;
    padding-left: 77px;
    border: 2px solid rgb(218, 217, 230);
    padding-right: 77px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
 
  }

