<div class="greeting">
  <div class="lender-name-container">
    <span class="lender-name">Welcome back, <span>{{lender.firstName+" "+lender.lastName | uppercase}}</span></span>
    <img src="https://img.icons8.com/emoji/48/null/hand-with-fingers-splayed-emoji.png"/>
  </div>
  <span class="greeting-message">We hope you have a great day.</span>
</div>

<div *ngIf="borrower.length==0">
<div (click)="add()">
    <mat-icon>add</mat-icon>
</div>
</div>








<div *ngIf="borrower.length==0">

    <button mat-raised-button (click)="creditScore()" [disabled]="istrue">Enter creditScore</button>


</div>


<!--<div class="loan-container">-->
<!--    <h1>Your Investments</h1>-->
<!--    <div class="loans">-->
<!--      <div class="loan" *ngFor="let loan of loans let number=index">-->
<!--        <h2>#Investment {{number+1}}</h2>-->
<!--        <h3>Amount : {{loan.amount}} </h3>-->
<!--        <h3>Recovered : {{recovered(loan.emi)}}</h3>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<div class="loan-container">
  <h1>Investments</h1>
  <div class="loans" *ngIf="loans.length>0">
    <div class="loan" *ngFor="let loan of loans let number=index">
      <p class="loan-id">#INVESTMENT {{number+1}}</p>
      <div class="loan-data-container">
        <div class="paid-amount-container">
          <div class="total-Logo"><img src="https://img.icons8.com/external-kiranshastry-solid-kiranshastry/64/6C7BEC/external-money-bag-banking-and-finance-kiranshastry-solid-kiranshastry.png"/></div>
          <div class="total-amount">
            <p class="total-amount-label">AMOUNT</p>
            <p class="total-amount-value">{{loan.amount}}</p>
          </div>
        </div>
        <div class="total-amount-container">
          <div class="total-Logo"><img src="https://img.icons8.com/sf-regular/48/6C7BEC/paid.png"/></div>
          <div class="total-amount">
            <p class="total-amount-label">PAID</p>
            <p class="total-amount-value">{{recovered(loan.emi)}}</p>
          </div>
        </div>
      </div>
      <mat-progress-bar mode="determinate" [value]="progress(loan)"></mat-progress-bar>
    </div>
  </div>
  <p *ngIf="loans.length==0">No investments found</p>

</div>

<table mat-table [dataSource]="borrower">
  <ng-container matColumnDef="Borrowers">
    <th mat-header-cell *matHeaderCellDef> # </th>
    <td mat-cell *matCellDef="let element"> {{element.borrowerId}} </td>
  </ng-container>
  <ng-container matColumnDef="Amount">
    <th mat-header-cell *matHeaderCellDef> Amount </th>
    <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
  </ng-container>
  <ng-container matColumnDef="Rating">
    <th mat-header-cell *matHeaderCellDef> Rating </th>
    <td mat-cell *matCellDef="let element">{{element.creditScore}}</td>
  </ng-container>
  <ng-container matColumnDef="Payment">
    <th mat-header-cell *matHeaderCellDef> Payment </th>
    <td mat-cell *matCellDef="let element">
      <div class="payment-button" (click)="pay(element)">
        <img width="25px" src="https://img.icons8.com/ios-filled/50/000000/plus-math.png"/>
      </div>
    </td>
  </ng-container><ng-container matColumnDef="Chat">
    <th mat-header-cell *matHeaderCellDef> Chat </th>
    <td mat-cell *matCellDef="let element">
      <div class="chat-button">
        <img width="20px" src="https://img.icons8.com/ios/50/000000/speech-bubble--v1.png"/>
      </div>
    </td>
  </ng-container><ng-container matColumnDef="Profile">
    <th mat-header-cell *matHeaderCellDef> Profile </th>
    <td mat-cell *matCellDef="let element">
      <div class="payment-button" style="background-color: #b8ebdc;" >
        <img width="25px" src="https://img.icons8.com/material/24/null/gender-neutral-user--v1.png"/>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>



<!--<mat-card class="card">-->
<!--    <mat-card-title >-->
<!--       <div style="margin-bottom: 37px;"> Recommended borrowers</div>-->
<!--    </mat-card-title>-->

<!--        <div class="topnav">-->
<!--            <p style="width:30% ;">Borrowers</p>-->
<!--            <p style="width:30% ;">Amount</p>-->
<!--            <p style="width:10% ;">Rating</p>-->
<!--            <p style="width:10% ;" >Payment</p>-->
<!--            <p style="width:10% ;" >Chat</p>-->
<!--            <p style="width:10% ;" >Profile</p>-->
<!--          </div>-->
<!--<div>-->
<!--<app-lender *ngFor="let borrowerRecommend of  borrower" [borrowerRecommended]="borrowerRecommend" ></app-lender>-->
<!--</div>-->

<!--</mat-card>-->
