<div class="sidenav-container">
  <div class="home" [ngClass]="{checked:selected==='home'}" (click)="changeSelcted('home','/dashboard')">
    <mat-icon>home</mat-icon> HOME
  </div>
  <div class="messages" [ngClass]="{checked:selected==='chat'}" (click)="changeSelcted('chat','/dashboard/chat')">
    <mat-icon>chat</mat-icon> MESSAGES
  </div>
  <div class="transactions" [ngClass]="{checked:selected==='transaction'}" (click)="changeSelcted('transaction','/dashboard/transactions')">
    <mat-icon>monitoring</mat-icon> TRANSACTIONS
  </div>
  <div class="profile" [ngClass]="{checked:selected==='profile'}" (click)="changeSelcted('profile','/dashboard/profile')">
    <mat-icon>person</mat-icon> PROFILE
  </div>
  <div class="loan" [ngClass]="{checked:selected==='loan'}" (click)="changeSelcted('loan','/dashboard/loan')">
    <mat-icon>savings</mat-icon> LOANS
  </div>
</div>
