<div class="sidenav-container">
  <div class="home" routerLink="/dashboard">
    <mat-icon>home</mat-icon> Home
  </div>
  <div class="messages" routerLink="/dashboard/chat">
    <mat-icon>chat</mat-icon> Messages
  </div>
  <div class="transactions" routerLink="/dashboard/transactions">
    <mat-icon>monitoring</mat-icon> Transactions
  </div>
  <div class="profile" routerLink="/dashboard/profile">
    <mat-icon>person</mat-icon> Profile
  </div>
  <div class="loan" routerLink="/dashboard/loan" >
    <mat-icon>savings</mat-icon> Loans
  </div>
</div>
